[submodule "include/libft"]
	path = include/libft
	url = https://github.com/Jonstep101010/libft
	branch = core-dep
[submodule "include/libutils"]
	path = include/libutils
	url = https://github.com/Jonstep101010/libutils
	branch = smaller-lib
[submodule "include/libftprintf"]
	path = include/libftprintf
	url = https://github.com/Jonstep101010/ft_printf.git
[submodule "include/libgnl"]
	path = include/libgnl
	url = https://github.com/Jonstep101010/get_next_line.git
